body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #cc444b, #da5552, #df7373);
}

#input {
  height: 20rem;
  width: 20rem;
  background-color: #2b4141;
  border-radius: 1.5rem;
  color: #c8ead3;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

input,
textarea {
  width: 10rem;
  background-color: aliceblue;
  border-radius: 1rem;
}

button {
  background-color: aliceblue;
  border-radius: 1rem;
}
